.chart{
  background-color: lightgray;
}

.chart .menuBar{
  width: 100%;
  background-color: rgba(86,61,124,.15);
}

.chart .chartContainer{
  width: 100%;
  min-height: 500px;
  position: relative;
  display: none;
}

.chart .candle{
  background-color: green;
  border: 1px solid;
  width: 30px;
  position: absolute;
}

.chart .candleDate{
  position: absolute;
}

.chart .desktopChart{
  @media (min-width: 1025px) {
  
    display: block;
    
  }
}
.chart .tabletChart{
  @media (min-width: 768px) and (max-width: 1024px) {
  
    display: block;
    
  }
}
.chart .mobileChart{
  @media (max-width: 767px) {
  
    display: block;
    
  }
}