/* ----- IMPORT ROBOTO FONT ----- */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,100);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  height: 100%;
  display: grid;
  font-family: Avenir;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
* {
  box-sizing: border-box;
}

/* ******************************
RIPPLES EFFECT
****************************** */
.btn{
  margin: 10px auto;
}
.ripples {
  overflow: hidden;
  position: relative;
}

.waves {
  position: absolute;
  display: block;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

.ripple {
  -webkit-animation: ripple 0.65s linear;
  -moz-animation: ripple 0.65s linear;
  -ms-animation: ripple 0.65s linear;
  -o-animation: ripple 0.65s linear;
  animation: ripple 0.65s linear;
}

@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
  }
}

@-moz-keyframes ripple {
  100% {
    opacity: 0;
    -moz-transform: scale(2.5);
  }
}

@-o-keyframes ripple {
  100% {
    opacity: 0;
    -o-transform: scale(2.5);
  }
}

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

/* ******************************
BUTTONS
****************************** */
.btn {
  overflow: hidden;
  cursor: pointer;
  position: relative;
  z-index: 10;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  border: none;
  padding: 0 16px;
  white-space: nowrap;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  color: #212121;
  background-image: none;
  background-color: #E0E0E0;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;

  -ms-touch-action: manipulation;
  touch-action: manipulation;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* ----- BUTTON STATES ----- */
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}

.btn:hover,
.btn:focus,
.btn.focus {
  color: #212121;
  text-decoration: none;
}

.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

/* ----- ALTERNATE OPTIONS ----- */
/* PRIMARY */
.btn-primary {
  color: #ffffff;
  background-color: #3F51B5;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #3949AB;
}

/* ACCENT */
.btn-accent {
  color: #ffffff;
  background-color: #EC407A;
}

.btn-accent:hover,
.btn-accent:focus,
.btn-accent.focus,
.btn-accent:active,
.btn-accent.active {
  color: #ffffff;
  background-color: #E91E63;
}

/* SUCCESS */
.btn-success {
  color: #ffffff;
  background-color: #009688;
}

.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #00897B;
}

/* ----- RAISED ----- */
.btn-raised {
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
}

/* ----- FLAT BUTTONS ----- */
.btn-flat {
  font-weight: 400;
  color: #212121;
  background-color: transparent;
}

.btn-flat .waves {
  background-color: rgba(33, 33, 33, 0.1);
}

.btn-flat:hover,
.btn-flat:focus,
.btn-flat.focus,
.btn-flat:active,
.btn-flat.active {
  color: #212121;
}

/* FLAT PRIMARY */
.btn-flat.primary {
  color: #3F51B5;
}

.btn-flat.primary .waves {
  background-color: rgba(63, 81, 181, 0.3);
}

/* FLAT ACCENT */
.btn-flat.accent {
  color: #EC407A;
}

.btn-flat.accent .waves {
  background-color: rgba(255, 64, 129, 0.3);
}

/* FLAT SUCCESS */
.btn-flat.success {
  color: #009688;
}

.btn-flat.success .waves {
  background-color: rgba(0, 150, 136, 0.3);
}

/* ----- ACTION ----- */
.btn-action {
  min-width: 40px;
  width: 40px;
  height: 40px;
  line-height: 55px;
  padding: 0;
  border-radius: 20px;
}

.btn-action-lg {
  min-width: 56px;
  width: 56px;
  height: 56px;
  line-height: 84px;
  padding: 0;
  border-radius: 28px;
}

.btn-action-lg .material-icons {
  font-size: 36px;
}

.btn-action .waves,
.btn-action-lg .waves {
  display: none;
}

.group 			  {
  position:relative;
  margin-top:25px;
  display: inline-block;
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:150px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#5264AE;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

#chartContainer{
  overflow-y: auto;
}